<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<table>
    <tr th:each="tweet : ${tweetList}">
        <td th:text="${tweet.getTweetId()}"></td>
        <td th:text="${tweet.getTweetContent()}"></td>
        <td th:text="${tweet.getTweetCreationTime()}"></td>
        <td th:text="${tweet.getTweetStatus()}"></td>
        <td th:text="${tweet.getTweetType()}"></td>
        <td>
            <a th:href="@{'/remove?tweetToRemoveId=' + ${tweet.getTweetId()}}">
                Edit
            </a>
        </td>
        <td>
            <a th:href="@{'/edit/' + ${tweet.getTweetId()}}">
                Edit
            </a>
        </td>
    </tr>
</table>
</body>
</html>