<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>

<form th:action="@{'/edit/' + ${tweetToEdit.getTweetId()}}" method="post" th:object="${tweetToEdit}">
    <input type="hidden" th:field="*{tweetCreationTime}" th:value="*{tweetCreationTime}">
    <input type="hidden" th:field="*{tweetId}" th:value="*{tweetId}">
    <input type="hidden" th:field="*{tweetStatus}">
    <table>
        <tr>
            <td>Typ</td>
            <td>
                <input type="text" name="tweetContent" th:field="*{tweetContent}">
            </td>
        </tr>
        <tr>
            <td>Typ</td>
            <td>
                <select type="checkbox" name="tweetType" th:field="*{tweetType}">
                    <option th:each="option : ${tweetOptions}" th:value="${option}" th:text="${option}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" th:value="submit">
            </td>
        </tr>
    </table>
</form>

<hr>
<form th:action="@{/tweetTag/}" method="post">
    <table>
        <input type="hidden" name="tweetId" th:value="${tweetToEdit.tweetId}">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="tagName"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Submit"></td>
        </tr>
    </table>
</form>
<table>
    <tr th:each="tag : ${tweetToEdit.getTagSet()}">
        <td th:text="${tag.getId()}"></td>
        <td th:text="${tag.getName()}"></td>
    </tr>
</table>
</body>
</html>